{% extends 'main_app/admin_base.html' %}
{% load static %}


{% block content %}

<div class="row m-0 p-0 mt-5">
    <div class="back">
        <a href="/adminka/user_list" class="text-decoration-none">
          <button type="button" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
            </svg>
            Назад
          </button>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form class="my-5 py-5 w-100" method="post">

              {% for f in form %}
              <div class="form-floating mb-3">
                  {{f}}
                  <label for="{{f.id_for_label}}">{{f.label}}</label>
                  <div class="form-error">{{f.errors}}</div>
              </div>
              {% endfor %}

              {% csrf_token %}
              <div class="d-flex justify-content-center gap-3">
                  <button class="d-flex w-50 btn btn-outline-primary shadow justify-content-center mx-auto" type="submit">Добавить</button>
              </div>
          </form>
    </div>
    <div class="col-3"></div>
</div>
{% endblock %}
